apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cloudwatch-logging-configuration
  namespace: openshift-gitops
  finalizers:
  - resources-finalizer.argocd.argoproj.io  
spec:
  project: default
  source:
    repoURL: https://github.com/open-sudo/rosa-idp.git
    targetRevision: {{ .Values.targetRevision }}
    path: cloudwatch-logging/overlays/{{ .Values.clusterName }}
    helm:
      values: | 
        awsRegion: {{ .Values.awsRegion }}
        awsAccountId: {{ .Values.awsAccountId }}
        clusterName: {{ .Values.clusterName }}
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-logging
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - RespectIgnoreDifferences=true
    - Replace=true
    - ServerSideApply=true
    retry:
      limit: 100
      backoff:
        duration: 5s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor: 2 # a factor to multiply the base duration after each failed retry
        maxDuration: 3m # the maximum amount of time allowed for the backoff strategy 
