apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: root-application
  namespace: openshift-gitops
spec:
  project: default
  source:
    repoURL: https://github.com/open-sudo/rosa-idp.git
    path: argocd/applications
    directory:
      include: "*.yaml"
  destination:
    server: https://kubernetes.default.svc
    namespace: openshift-gitops
  syncPolicy:
    automated: 
      prune: true
      selfHeal: true
    syncOptions:
      - RespectIgnoreDifferences=true
      - ApplyOutOfSyncOnly=true       
    retry:
      limit: 50 
      backoff:
        duration: 5s 
        factor: 2 
        maxDuration: 10m 
  ignoreDifferences:
  - group: argoproj.io
    kind: Application
    namespace: openshift-gitops
    name: backstage
    jsonPointers:
    - /spec/source/helm/values
  - group: argoproj.io
    kind: Application
    namespace: openshift-gitops
    name: github-action-runner
    jsonPointers:
    - /spec/source/helm/values
  - group: argoproj.io
    kind: Application
    namespace: openshift-gitops
    name: openshift-config
    jsonPointers:
    - /spec/source/helm/values
  - group: argoproj.io
    kind: Application
    namespace: openshift-gitops
    name: vault
    jsonPointers:
    - /spec/source/helm/values
  - group: argoproj.io
    kind: Application
    namespace: openshift-gitops
    name: user-workload-grafana
    jsonPointers:
    - /spec/source/helm/values
  - group: argoproj.io
    kind: Application
    namespace: openshift-gitops
    name: service-mesh-ingress
    jsonPointers:
    - /spec/source/helm/values     
  - group: argoproj.io
    kind: Application
    namespace: openshift-gitops
    name: dbaas-operator
    jsonPointers:
    - /spec/     
  - group: rds.services.k8s.aws/v1alpha1
    kind: DBInstance
    jsonPointers:
    - /
    
